<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.es_test.mapper.UserMapper">
<!--    <insert id="saveUser" parameterType="com.es_test.document.UserDocument">-->
<!--        insert into es_user values (#{id},#{name},#{sex},#{age},#{city});-->
<!--    </insert>-->
</mapper>
